@page
@model Client.Pages.Photos.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDTO.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDTO.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDTO.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDTO.Event)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDTO.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoDTO.Date)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="PhotoDTO.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="../Index">Back to List</a>
    </form>
</div>